.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('./backgroundImage.jpg');
  background-size: cover;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 6rem;
  margin-bottom: 0;
  color: #fff;
}

.subtitle {
  font-size: 1.8rem;
  margin-top: 1.9rem;
  margin-bottom: 2.1rem;
  color: #fff;
}

button {
  padding: 15px 30px;
  margin: 20px;
  font-size: 1.5rem;
  margin-top: 1.7rem;
  margin-bottom: 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: #61dafb;
  color: #fff;
  cursor: pointer;
}
