.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('./backgroundImage.jpg');
  background-size: cover;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

label {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.title {
  font-size: 6rem;
  margin-bottom: 0;
  color: #fff;
}

.subtitle {
  font-size: 1.8rem;
  margin-top: 1.9rem;
  margin-bottom: 2.1rem;
  color: #fff;
}

button {
  padding: 15px 30px;
  margin: 20px;
  font-size: 1.5rem;
  margin-top: 1.7rem;
  margin-bottom: 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: #1c1aa8;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #810a0a;
}


p {
  color: #fff;
}

h1 {
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1.2rem;
}

label {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.submit-btn {
  padding: 15px 30px;
  margin: 20px;
  font-size: 1.5rem;
  margin-top: 1.7rem;
  margin-bottom: 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: #1c1aa8;
  color: #fff;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #810a0a;
}

.container {
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.assetTable{
  color: white;
}